header {
  width: 100%;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  transform: all 0.2s ease;
  z-index: 100;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo-icon {
      width: 40px;
    }
    .sub-menu {
      display: flex;

      .menu {
        display: none;
      }

      .theme-switcher {
        background-color: transparent;
        border: none;
        cursor: pointer;

        img {
          width: 30px;
        }
      }
    }
    nav {
      width: 50%;
      max-width: 600px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: all 0.2s ease;

      .header-link {
        text-decoration: none;
        font-size: 18px;
        padding: 1rem;
      }
    }
  }
}

@media screen and (max-width: 414px) {
  header {
    width: 100%;

    .header {
      .logo-icon {
        width: 30px;
        margin: 0 1rem;
      }
      .sub-menu {
        .menu {
          display: block;
          margin-right: 1rem;
          width: 25px;
        }

        .theme-switcher {
          margin-right: 1rem;
        }
      }
      nav {
        // display: none;
        flex-direction: column;
        font-weight: bold;
        position: absolute;
        top: 20px;
        right: 20px;
        backdrop-filter: blur(30px);
        border: 0.5px solid;
        border-radius: 5px;
      }
    }
  }
}
